.main {
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  font-family: "Museo Regular", serif;

  &__title {
    font-size: 64px;

    @media screen and (max-width: 768px) {
      font-size: 42px;
      padding-top: 12px;
    }
  }

  &__container {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__total {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    color: #1e1e1e;
    font-weight: bold;
    font-size: 18px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    &-title {
      text-align: center;
    }

    &-sum {
      text-align: center;
      color: #ff7112;
    }
  }

  &__cart {
    min-width: 250px;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      padding: 12px;
      border: 0;
      background-color: #1e1e1e;
      color: white;
      font-size: 18px;
      border-radius: 8px;
      transition: opacity 0.2s ease, transform 0.2s ease;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
